<div>
    <h1>Ver listado de productos:</h1>
    <div class="mainContainer">

        {{#if isValid}}
        <div class="containerProducts">
            {{#each docs}}
            <div class="containerInside">

                <img class="imagen" src={{this.thumbnails.[0].img}}>
                <p>{{this.title}}</p>
                <a href="http://localhost:8080/products/{{this._id}}">Ver</a>
            </div>
            {{/each}}
        </div>



        {{#if hasPrevPage}}
        <a href={{this.PrevLink}}>Anterior</a>
        {{/if}}

        {{this.page}}
        {{#if hasNextPage}}
        <a href={{this.NextLink}}>Siguiente</a>
        {{/if}}
        {{/if}}
    </div>
</div>